---
import data from '@data/data.json';
import Layout from '@layouts/Layout.astro';
import Header from '@sections/global/Header.astro';
import Footer from '@sections/global/Footer.astro';

export async function getStaticPaths() {
	return data.map((name) => ({
		params: { slug: name.slug }
	}));
}

const { slug } = Astro.params;
const name = data.find((p) => p.slug === slug);

if (!name) {
	throw new Error(`"name" con slug "${slug}" no encontrado`);
}
---

<Layout>
	<Header />
	<main>
		<section class="h-fit pb-1">
			<div class="mt-6 ml-[3%] flex w-[95%] flex-col md:ml-0 md:flex-row">
				<div class="mt-4 flex w-full items-center justify-center md:w-1/2">
					<img src=`/img/${name.img}` class="w-[23.5rem] rounded-4xl bg-green-800/50" />
				</div>
				<div class="mt-4 ml-[5%] w-[95%] md:ml-0 md:w-1/2">
					<div>
						<h1 class="xs:text-3xl text-2xl md:text-4xl">{name.title}</h1>
						<p class="mt-4 mb-8 text-lg">Precio: ${name.price}</p>
						<div class="mb-8">
							<h3 class="xs:text-xl text-lg font-bold md:text-2xl">
								La sesión de consultoría incluye:
							</h3>
							<ul>
								<li>
									<h4 class="text-base font-semibold md:text-lg">
										Sesión Privada y personalizada:
									</h4>
								</li>
								<li>
									<p>Programaremos sesión virtual uno a uno con uno de nuestros consultores.</p>
								</li>
								<li><h4 class="text-base font-semibold md:text-lg">Duración:</h4></li>
								<li><p>60 Minutos.</p></li>
							</ul>
						</div>
						<a href=`https://biz.payulatam.com/${name.url}`
							><img
								class="z-10 flex size-fit rounded-lg bg-[#a7c40f] drop-shadow-lg transition-all duration-250 ease-out hover:-translate-y-1 hover:scale-105"
								src="https://ecommerce.payulatam.com/img-secure-2015/boton_pagar_grande.png"
							/></a
						>
					</div>
				</div>
			</div>
		</section>
	</main>
	<Footer />
</Layout>
